<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="isSignIn">
  <ion-card class="myCard">

    <ion-item class="myCard">
      <ion-label style="font-size: 1.2rem; font-weight: bold;">Hall: {{HallName}}</ion-label>
    </ion-item>

    <ion-item class="myCard">
      <ion-label style="font-size: 1.2rem; font-weight: bold;">Date: {{date.split('T')[0]}}</ion-label>
    </ion-item>

    <ion-item  class="myCard">
      <ion-label position="stacked" style="font-size: 1.2rem; font-weight: bold;">Event Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item  class="myCard">
      <ion-label position="stacked" style="font-size: 1.2rem; font-weight: bold;">Number of Agenda Parts</ion-label>
      <ion-input type="number" [(ngModel)]="numberOfParts"></ion-input>
    </ion-item>
  
    <ion-button expand="block"  class="myCard" (click)="generateAgendaFields()">Add Agenda</ion-button>
     
    <!-- [formGroup]="agendaForm" *ngIf="agendaParts.length > 0" ngSubmit="AddEvent(agendaForm.value)" -->
    <form *ngIf="agendaParts.length > 0">
      <ion-item *ngFor="let part of agendaParts; let i = index; trackBy: trackByFn">
        <ion-item>
          <ion-label class="title">Title</ion-label>
          <ion-input type="text" [(ngModel)]="part.description" [ngModelOptions]="{ standalone: true }" required></ion-input>
          <ion-input type="time" [(ngModel)]="part.time" [ngModelOptions]="{ standalone: true }" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="title">Speaker</ion-label>
          <ion-input type="text" [(ngModel)]="part.speaker" [ngModelOptions]="{ standalone: true }" required></ion-input>  
        </ion-item>
        <!-- <ion-label class="title">Time</ion-label> -->    
 </ion-item>
    </form>

    <ion-item class="myCard">
      <ion-label  style="font-size: 1.2rem; font-weight: bold;">Updates</ion-label>
      <ion-input type="number" [(ngModel)]="updates">{{updates}}</ion-input>
    </ion-item>
  </ion-card>

  <div align="center">
    <ion-button style="background: #b7b7a4; color: #fff;" (click)="AddEvent()" fill="clear">ADD</ion-button>
  </div>  
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-text>&copy; {{ currentYear }} Exhibition</ion-text>
  </ion-toolbar>
</ion-footer>
