<ion-header color="#">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <!-- You can use ion-img for image or ion-icon for an icon -->
        <ion-img src="./assets/profileAvatart.jpeg"></ion-img>
        <!-- Example with ion-icon -->
        <!-- <ion-icon name="person"></ion-icon> -->
      </ion-avatar>

    </ion-card-header>

    <ion-card-content>
      <!-- Display user information here -->
      <ion-item>
        <ion-label>Name:</ion-label>
        <ion-text>{{ userName }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-text>{{ userEmail }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
<!-- Reserved Halls Section -->
<ion-card>
  <ion-card-header (click)="toggleAccordion('halls')">
    Reserved Halls
  </ion-card-header>

  <ion-card-content *ngIf="isAccordionOpen('halls')">
    <!-- Display reserved halls information here -->
    <ion-list>
      <ion-item *ngFor="let hall of reservedHalls">
        {{ hall.name }}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<!-- Reserved Events Section -->
<ion-card>
  <ion-card-header (click)="toggleAccordion('events')">
    Reserved Events
  </ion-card-header>

  <ion-card-content *ngIf="isAccordionOpen('events')">
    <!-- Display reserved events information here -->
    <ion-list>
      <ion-item *ngFor="let event of reservedEvents">
        {{ event.name }}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
  
</ion-content>
