ion-header {
    ion-toolbar {
      --background: #b7b7a4; 
    }
  }

ion-footer {
    ion-toolbar {
      --background: #b7b7a4; 
    }
}

.cardButton {
    background-color:#b7b7a4; 
    color: white; 
    border-radius: 5%; 
    margin-left: 200px;
}

.applayButton {
  background-color:#b7b7a4; 
  color: white; 
}